{% include 'bc__image-with-text' %}
{% schema %}
  {
    "name": "BC Image with text",
    "settings": [
        {
          "type": "select",
          "id": "frontpage_text_align",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "frontpage_image_position",
          "label": "Image position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
		{
          "type": "image_picker",
          "id": "mobile-image",
          "label": "Optional mobile image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Your headline"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Promotion description appears here.</p>"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "View all"
        },
        {
          "type": "color",
          "id": "heading-color",
          "label": "Heading color"
        },
		{
          "type": "color",
          "id": "text-color",
          "label": "Text color"
        },
		{
          "type": "checkbox",
          "id": "narrow",
          "label": "Restrict content width",
		  "info":"Background elements will only work if this is enabled",
		  "default": false
        },
		{
          "type": "image_picker",
          "id": "background-image",
          "label": "Background image"
        },
		{
          "type": "checkbox",
          "id": "repeat-background",
          "label": "Repeat background image",
		  "default": false
        },
		{
          "type": "select",
          "id": "background-size",
          "label": "Background size",
          "default": "cover",
          "options": [
            {
              "value": "cover",
              "label": "Cover"
            },
            {
              "value": "contain",
              "label": "Contain"
            },
            {
              "value": "auto",
              "label": "Auto"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "gradient_overlay",
          "label": "Use gradient overlay",
          "default": false
        },
		{
          "type": "select",
          "id": "gradient_direction",
          "label": "Gradient direction",
          "options": [
            {
              "value": "left_right",
              "label": "Left to right"
            },
            {
              "value": "right_left",
              "label": "Right to left"
            },
            {
              "value": "top_bottom",
              "label": "Top to bottom"
            },
            {
             "value": "bottom_top",
              "label": "Bottom to top"
            },
            {
              "value": "radial",
              "label": "Radial"
            }
          ],
          "default": "left_right"
        },
        {
          "type": "color",
          "id": "gradient_1",
          "label": "First color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "gradient_2",
          "label": "Second color",
          "default": "#000000"
        },
		{
          "type": "color",
          "id": "background-color",
          "label": "Background color"
        },
		{
          "type": "text",
          "id": "master-class",
          "label": "DEVELOPER USE ONLY",
          "info":"Add custom class name to this snippet"
        }
	],
	"presets": [
    {
      "name": "Image with text",
      "category": "Blend Commerce",
      "settings": {
      }
    }
  ]
  }
{% endschema %}
