
{% include 'bc__banner-image' %}
{% schema %}
  {
    "name": "BC Banner Image",
    "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1800 x 1000px recommended"
        },
		{
          "type": "image_picker",
          "id": "mobile-image",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "pretext",
          "label": "Preheading",
          "default": "<p>This is</p>"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Your headline"
        },
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "Text",
          "default": "<p>Customize this section</p>"
        },
        {
          "type": "checkbox",
          "id": "caption_background",
          "label": "Display solid text background",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "caption_background_transparency",
          "label": "Enable background transparency"
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "Text position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "over_image",
          "label": "Keep caption over image on mobile",
          "default": false
        },
        {
          "type": "text",
          "id": "button1",
          "label": "First button label",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "button1_link",
          "label": "First link"
        },
        {
          "type": "checkbox",
          "id": "button1_highlight",
          "label": "Highlight first button"
        },
        {
          "type": "text",
          "id": "button2",
          "label": "Second button label"
        },
        {
          "type": "url",
          "id": "button2_link",
          "label": "Second link"
        },
        {
          "type": "checkbox",
          "id": "button2_highlight",
          "label": "Highlight second button"
        },
		{
          "type": "color",
          "id": "heading-color",
          "label": "Heading color"
        },
		{
          "type": "color",
          "id": "text-color",
          "label": "Text color"
        },
		{
          "type": "checkbox",
          "id": "narrow",
          "label": "Restrict content width",
		  "info":"Background elements will only work if this is enabled",
		  "default": false
        },
		{
          "type": "image_picker",
          "id": "background-image",
          "label": "Background image"
        },
		{
          "type": "checkbox",
          "id": "repeat-background",
          "label": "Repeat background image",
		  "default": false
        },
		{
          "type": "select",
          "id": "background-size",
          "label": "Background size",
          "default": "cover",
          "options": [
            {
              "value": "cover",
              "label": "Cover"
            },
            {
              "value": "contain",
              "label": "Contain"
            },
            {
              "value": "auto",
              "label": "Auto"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "gradient_overlay",
          "label": "Use gradient overlay",
          "default": false
        },
		{
          "type": "select",
          "id": "gradient_direction",
          "label": "Gradient direction",
          "options": [
            {
              "value": "left_right",
              "label": "Left to right"
            },
            {
              "value": "right_left",
              "label": "Right to left"
            },
            {
              "value": "top_bottom",
              "label": "Top to bottom"
            },
            {
             "value": "bottom_top",
              "label": "Bottom to top"
            },
            {
              "value": "radial",
              "label": "Radial"
            }
          ],
          "default": "left_right"
        },
        {
          "type": "color",
          "id": "gradient_1",
          "label": "First color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "gradient_2",
          "label": "Second color",
          "default": "#000000"
        },
		{
          "type": "color",
          "id": "background-color",
          "label": "Background color"
        },
		{
          "type": "text",
          "id": "master-class",
          "label": "DEVELOPER USE ONLY",
          "info":"Add custom class name to this snippet"
        }
	],
	"presets": [
    {
      "name": "Banner Image",
      "category": "Blend Commerce",
      "settings": {
      }
    }
  ]
  }
{% endschema %}