{% include 'bc__newsletter' %}
{% schema %}
  {
    "name": "BC Newsletter",
    "settings": [
        {
          "type": "text",
          "id": "newsletter_title",
          "label": "Heading",
          "default": "Subscribe"
        },
        {
          "type": "richtext",
          "id": "newsletter_text",
          "label": "Subheading",
          "default": "<p>Sign up to get the latest on sales, new releases and more …</p>"
        },
        {
          "type": "checkbox",
          "id": "display_first_name",
          "label": "Show first name"
        },
        {
          "type": "checkbox",
          "id": "display_last_name",
          "label": "Show last name"
        },
        {
          "type": "select",
          "id": "newsletter_section_text_align",
          "label": "Text alignment",
          "options": [
             {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
         ],
          "default": "center"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Upload banner background image",
          "info":"1600 x 300px recommended"
        },
		{
          "type": "color",
          "id": "heading-color",
          "label": "Heading color"
        },
		{
          "type": "color",
          "id": "text-color",
          "label": "Text color"
        },
		{
          "type": "checkbox",
          "id": "narrow",
          "label": "Restrict content width",
		  "info":"Background elements will only work if this is enabled",
		  "default": false
        },
		{
          "type": "image_picker",
          "id": "background-image",
          "label": "Background image"
        },
		{
          "type": "checkbox",
          "id": "repeat-background",
          "label": "Repeat background image",
		  "default": false
        },
		{
          "type": "select",
          "id": "background-size",
          "label": "Background size",
          "default": "cover",
          "options": [
            {
              "value": "cover",
              "label": "Cover"
            },
            {
              "value": "contain",
              "label": "Contain"
            },
            {
              "value": "auto",
              "label": "Auto"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "gradient_overlay",
          "label": "Use gradient overlay",
          "default": false
        },
		{
          "type": "select",
          "id": "gradient_direction",
          "label": "Gradient direction",
          "options": [
            {
              "value": "left_right",
              "label": "Left to right"
            },
            {
              "value": "right_left",
              "label": "Right to left"
            },
            {
              "value": "top_bottom",
              "label": "Top to bottom"
            },
            {
             "value": "bottom_top",
              "label": "Bottom to top"
            },
            {
              "value": "radial",
              "label": "Radial"
            }
          ],
          "default": "left_right"
        },
        {
          "type": "color",
          "id": "gradient_1",
          "label": "First color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "gradient_2",
          "label": "Second color",
          "default": "#000000"
        },
		{
          "type": "color",
          "id": "background-color",
          "label": "Background color"
        },
		{
          "type": "text",
          "id": "master-class",
          "label": "DEVELOPER USE ONLY",
          "info":"Add custom class name to this snippet"
        }
	],
	"presets": [
    {
      "name": "Newsletter",
      "category": "Blend Commerce",
      "settings": {
      }
    }
  ]
  }
{% endschema %}
